<form [formGroup]="loginForm" (ngSubmit)="login()">
  <div class="errors">
    <div *ngIf="loginForm.controls['email'].touched && loginForm.controls['email'].errors?.required">
      Email required
    </div>
  </div>
  <mat-form-field>
    <input matInput placeholder="email" name="email" formControlName="email">
  </mat-form-field>
  <mat-form-field>
    <input matInput type="password" name="password" formControlName="password">
  </mat-form-field>
  <span *ngIf="false">Mandatory</span>
  <button [disabled]="false" type="submit" mat-raised-button color="primary">Login</button>
</form>